<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="little Timestamp Microservice with absolutely no use">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utc-8">
        <link rel="stylesheet" href="styles.css">
        <title>Request Header Parser Microservice</title>
    </head>
    <body>
        <h1>Request Header Parser Microservice</h1>
        <h2>Input:</h2>
        <p><a href="api/whoami">http://localhost:3000/api/whoami</a></p>
        <h2>Output</h2>
        <p><code>{
            "ipaddress": "::1",
            "language": "en-US,en;q=0.9",
            "software": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36 Edg/128.0.0.0"
        }</code></p>
    </body>
</html>